
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/ipch/6a448ae479e68d56/mmap_address.bin
.vscode/ipch/4b80e0bb8fe950f1/mmap_address.bin
.vscode/ipch/3da826a70be6ed39/mmap_address.bin
.vscode/launch.json
.vscode/ipch/2e493b9f2b819786/mmap_address.bin
.vscode/ipch/2e493b9f2b819786/ARDUBOY2.ipch
.vscode/ipch/64df6b2feb064edb/mmap_address.bin
.vscode/ipch/8d0effb25e0096e8/BITMAPS.ipch
.vscode/ipch/8d0effb25e0096e8/mmap_address.bin
.vscode/ipch/5421158b53bcb436/mmap_address.bin
.vscode/ipch/f8bf815865db26af/mmap_address.bin
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/NVM/config/applicationhost.config
.vs/NVM/v16/.suo
.vscode/ipch/f8bf815865db26af/NVM.ipch
.vscode/ipch/e7e6107b7017fa6e/mmap_address.bin
.vscode/ipch/3da826a70be6ed39/NVM.ipch
.vscode/ipch/b03e91376ae7ccd3/mmap_address.bin
.vscode/ipch/e7e6107b7017fa6e/PLAYER.ipch
